.finished-resume {
  width: 1920px;
  min-height: 1080px;
  background-color: #FFFFFF;
}
.resume {
  width: 822px;
  min-height: 1080px;
  border: 1px solid black;
  background-color: white;
  position: relative;
  margin: auto;
}

.resume-personal-info {
  width: 100%;
  min-height: 345px;
  background-color: transparent;
}
.resume-name-surname {
  margin-top: 68px;
  margin-left: 80px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  background-color: transparent;
  color: #F93B1D;
}
.email-p, .phone-p {
  background-color: transparent;
  display: flex;
  align-items: center;
}
.email-icon, .phone-icon {
  background-color: transparent;
  color: #898989;
  margin-left: 82.67px;
  margin-top: 20.67px;
}
.phone-icon {
  margin-top: 13.47px;
}
.resume-email, .resume-phone {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  color: #1A1A1A;
  margin-left: 11.67px;
}
.resume-about-you-title, .resume-experience-title, .resume-education-title {
  margin-left: 80px;
  margin-top: 34px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  color: #F93B1D;
}
.resume-about-you-text, .position-description-text, .education-description-text {
  width: 432px;
  max-height: 125px;
  overflow-y: auto;
  margin-left: 80px;
  margin-top: 15px;
  margin-bottom: 19px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: lowercase;
  background-color: transparent;
  color: #000000;
}
.client-image {
  position: absolute;
  width: 246px;
  height: 246px;
  left: 501px;
  top: 48px;
  background: #D9D9D9;
  border-radius: 133px;
}
.line-1, .line-2 {
  width: 662px;
  height: 0px;
  margin-top: 50px;
  margin-left: 80px;
  border: 1px solid #C8C8C8;
}

.resume-experience, .resume-educations {
  width: 100%;
  min-height: 200px;
  background-color: transparent;
}
.resume-experience-title {
  margin-top: 24px;
}
.position-description-text {
  margin-top: 16px;
}
.position-employer-p, .college-grade-p {
  margin-left: 80px;
  margin-top: 15px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  color: #1A1A1A;
}
.position-date, .college-end-date {
  height: 19px;
  margin-left: 80px;
  margin-top: 7px;
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  color: #919191;
}

.logo12 {
  background-color: transparent;
  position: absolute;
  width: 42px;
  height: 42px;
  left: 78px;
  bottom: 25px;
}

.vector {
  background: transparent;
  color: #2E2E2E;
  position: absolute;
  width: 15px;
  height: 20px;
  left: 62px;
  top: 57px;
  cursor: pointer;
}

.success-message-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 28px 30px 30px;
  gap: 10px;
  position: absolute;
  width: 427px;
  height: 167px;
  left: 1423px;
  top: 53px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.success-message-p {
  width: 364px;
  height: 86px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  background-color: transparent;
  color: #1A1A1A;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.success-message-div-hidden {
  display: none;
}
.close-vector {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  color: #000000;
  cursor: pointer;
}
